body {
  background: black;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 40px;
  background-color: black;
}

.add {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 1000;
  font-size: 72px;
  line-height: 89px;
  color: #F3DA54;
}

.new-to-do {
  position: absolute;
  top: 50%;
  width: 99%;
  height: 78px;
  background-color: #F3DA54;
}
.new-to-do .newtodo {
  position: absolute;
  left: 13px;
  color: black;
  font-style: normal;
  font-weight: 1000;
  font-size: 17px;
  line-height: 84px;
}

.save {
  position: absolute;
  bottom: 55px;
  left: 10px;
  line-height: 89px;
  color: #F3DA54;
  font-weight: 1000;
  font-size: 72px;
  line-height: 89px;
  font-family: "Fascinate", cursive;
  font-family: "Jua", sans-serif;
}