body {
  background: #f3da54;
}
.app-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img-edit {
    width: 85px;
  }
  .todo {
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 107%;
    /* identical to box height, or 86px */

    text-align: center;

    color: #000000;
  }
}
.bravo {
  width: 143px;
  height: 30px;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}
.circle-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 40px;
  background-color: #f3da54;
  border: #f3da54;
}

.todo {
  margin-top: 63px;
  display: flex;
  font-weight: 1000;
  font-size: 72px;
  line-height: 89px;
  font-family: 'Fascinate';
}
.task-item {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-bottom: 10px;

  .task-title {
    color: #f3da54;
    font-style: normal;
    font-weight: 1000;
    font-size: 17px;
    line-height: 84px;
    margin-left: 13px;
  }
  // 2020-07-10

  .check-btn {
    background-image: url('../img/check.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &.complete {
    background-color: #ff0000;
    .task-title {
      color: #fff;
    }
    .check-btn {
      background-image: url('../img/check_w.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.add-wrapper {
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;

  .close-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
    background-color: black;
  }

  .add {
    margin-top: 68px;
    display: flex;
    font-weight: 1000;
    font-size: 72px;
    line-height: 89px;
    color: #f3da54;
  }

  .new-to-do {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 78px;
    background-color: #f3da54;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    input.newtodo {
      &::placeholder {
        color: black;
        font-style: normal;
        font-weight: 1000;
        font-size: 17px;
        width: 100%;
        padding: 0;
      }
      color: black;
      font-style: normal;
      font-weight: 1000;
      font-size: 17px;
      width: 100%;
      padding: 0;
    }
  }

  .save {
    position: absolute;
    bottom: 55px;
    left: 10px;
    line-height: 89px;
    color: #f3da54;
    font-weight: 1000;
    font-size: 72px;
    line-height: 89px;
    font-family: 'Fascinate', cursive;
    font-family: 'Jua', sans-serif;
  }
}
