body {
  background: #f3da54;
}
.app-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img-edit {
    width: 85px;
  }
  .todo {
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 107%;
    /* identical to box height, or 86px */

    text-align: center;

    color: #000000;
  }
}
.bravo {
  width: 143px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}
.circle-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: #f3da54;
  border: #f3da54;
}

.todo {
  margin-top: 63px;
  display: flex;
  font-weight: 1000;
  font-size: 72px;
  line-height: 89px;
  font-family: 'Fascinate';
}
.task-item {
  position: absolute;
  top: 169px;
  width: 100%;
  height: 84px;
  display: inline-block;
  background-color: black;
  .taskitem {
    position: absolute;
    left: 13px;
    color: #f3da54;
    font-style: normal;
    font-weight: 1000;
    font-size: 17px;
    line-height: 84px;
  }
  .check-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    background-color: black;
  }
}

.add-wrapper {
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;

  .close-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
    background-color: black;
  }

  .add {
    margin-top: 68px;
    display: flex;
    font-weight: 1000;
    font-size: 72px;
    line-height: 89px;
    color: #f3da54;
  }

  .new-to-do {
    position: absolute;
    top: 50%;
    width: 99%;
    height: 78px;
    background-color: #f3da54;

    .newtodo {
      position: absolute;
      left: 13px;
      color: black;
      font-style: normal;
      font-weight: 1000;
      font-size: 17px;
      line-height: 84px;
    }
  }

  .save {
    position: absolute;
    bottom: 55px;
    left: 10px;
    line-height: 89px;
    color: #f3da54;
    font-weight: 1000;
    font-size: 72px;
    line-height: 89px;
    font-family: 'Fascinate', cursive;
    font-family: 'Jua', sans-serif;
  }
}
