$color : blue;

.test{
    font-size: 15px;
    width: 100px;
    height: 100px;
    background-color: blue;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    /* x축 */
    justify-content: center;
    /* y축 */
    align-items: center;
 
    .test2{
        width: 50%;
        height: 50%;
        display: flex;
        background-color: red;
        color: $color;
        /* x축 */
        justify-content: center;
        /* y축 */
        align-items: center;
  
      } 
  }

    